/* Error: expected ";".
 *    ,
 * 14 | $error-background: rgb(167, 55, 55);
 *    |                  ^
 *    '
 *   sass/modules/_vars.scss 14:18  @import
 *   sass/master.scss 2:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 14 \2502  $error-background: rgb(167, 55, 55);\a    \2502                   ^\a    \2575 \a   sass/modules/_vars.scss 14:18  @import\a   sass/master.scss 2:9           root stylesheet';
}
