@keyframes slideIn {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }

}

.videos {
    max-width: 100%;
    position: relative;
    margin-bottom: 10rem;
    max-width: 1300px;

    
    video {
        max-width: 100%;
    }

    &:hover {
        .videos_title {
            opacity: 0.8;
        }
    }

    &_title {
        position: absolute;
        color: $white;;
        top: 5rem;
        left: 5rem;
        opacity: 1;
        transition: opacity 1s;
        border-left: 4px solid $white;
        padding-left: 1.5rem;
        overflow: hidden;
        
        h1 {
            font-size: 2.8rem;
            font-weight: 900;
            animation: slideIn 0.5s ease-out 1 0s both;
        }
        p {
            font-size: 1.8rem;
            animation: slideIn 0.5s ease-out 1 0.2s both;
        }
    }

    &_list {
        display: flex;
        position: absolute;
        bottom: -3.5rem;
        background-color: $dark_shadow;
        width: 100%;
        overflow: hidden;
        
        
        div {
            max-width: 10rem;
            margin: 0.5rem;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.05);
            }
            
        }
        img {
            max-width: 100%;
            border: 1px solid $black;
            box-shadow: 0 1rem 2rem $light_shadow;
        }
    }

}